@model Gamesbakery.WebGUI.Models.SellerRegisterViewModel

<h2>Регистрация продавца</h2>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="SellerName">Имя продавца</label>
        <input asp-for="SellerName" class="form-control" />
        <span asp-validation-for="SellerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}